@import  "../tools/box-shadow.scss";
@import "../tools/colors.scss";

.explorer{
    padding: 1.5rem;
    text-align: center;
    background-color:$lightergrey;
    &h1{
        padding: 2rem 4rem 0rem 4rem;
        font-size: 26px;
    }
    & p{
        font-size: 18px;
        padding: 0rem 2rem 0rem 2rem;
    }
    
}

.button{
    display: flex;
    justify-content: center;
    button{
        margin: 2rem;
        width: 218px;
        height: 50px;
        font-size: 16px;
        font-weight: 500;
        border: none;
        border-radius: 25px;
        color:white;
        background: $linear-gardient;
        cursor: pointer;
        transition: all 200ms;
        @include base-shadow;      
}      
    
    button:hover{
        transform: scale(1.02);
        @include base-shadow;
        opacity: 0.9 ;
    }

}
    

.loader{
    position: fixed;
    display: grid;
    place-items: center;
    inset: 0;
    background-color: #ffffff;
    height: 100vh;
    z-index: 1;
    opacity: 0.9;
    animation: disapear 200ms ; 
    animation-delay: 2s; 
    animation-fill-mode: forwards;
    color: $purple;
    & .big-spin{
        position: absolute;
        width: 16rem;
        height: 16rem;
        border-radius: 50%;
        border: 1rem solid rgba(160, 160, 160, 0);    
        border-top: 1rem solid $purple;
        border-left: 1rem solid $purple;
        border-bottom: 1rem solid $purple;
        transform: rotate(45deg);
        animation: spin 1s infinite; 
    }
    & .moyen-spin{
        position: absolute;
        width: 12rem;
        height: 12rem;
        border-radius: 50%;
        border: 1rem solid rgba(160, 160, 160, 0);    
        border-top: 1rem solid $purple;
        border-left: 1rem solid $purple;
        border-bottom: 1rem solid $purple;
        transform: rotate(45deg);
        animation: nspin 1s infinite; 
    }
 
}
