footer{
    padding: 0.5rem 2rem ;
    background: #353535;
    color: #FFFFFF;
    font-size: 18px;
    @media(min-width : 1024px){
        display: flex;
        align-items: end;
        flex-direction: row-reverse;
        padding:  2rem 6rem 1rem 0rem;;
    }

    & h2{
        font-family: shrikhand;
    }
    ul {
        padding: 0;
        @media(min-width : 1024px){
            display: flex;
            align-items: end;
            padding: 2rem 6rem 0rem 0rem;
        }
    }
    & li{
        @media(min-width : 1024px){
            
            padding: 10px;
        }
        padding: 0.5rem 0rem;
        margin: 0;
        list-style: none;
    }
    a {
        color: inherit; 
        text-decoration: inherit; 
        margin-right: 10px;
    i {
        margin-right: 10px; /* Ajoute de l'espace à droite de l'icône */
        color: inherit; 
        text-decoration: inherit; 
        margin-right: 10px;
    }
}}