@use "../tools/colors.scss";
.function{
    background-color: hsl(0, 0%, 100%);
    padding: 2rem 1rem;
    counter-reset: num-menu;
    
    
    & ol{
        display: flex;
        flex-direction: column;
        gap: 2rem ;
        @media(min-width : 1024px){
            flex-direction: row;
        }
        position: relative;
    & li{
            width: 100%;
            padding: 1rem 1rem;
            background-color: $lightergrey;
            font-size: 16px;
            font-weight: 500; 
            border-radius: 1rem;
            @include base-shadow;
            list-style: none;
            position: relative;
            padding: 1.5rem;
            animation-duration: 0ms;

            &:hover{
                transform: scale(1.02);
            }
        
        & i {
            margin-right: 1rem;
            color: $lightgrey;
        }


        &::before{
            content:counter(num-menu);
            counter-increment: num-menu;
            color: white;
            background-color:  $purple;
            width: 1.5rem;
            height: 1.5rem;
            display: grid;
            place-items: center;
            border-radius: 50%;
            position: absolute;
            left: -1rem;
        }
    }
} }