@use "../tools/box-shadow.scss";
@import "../tools/colors.scss";

main .locali{
    font-size: 12px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background-color: $lightestgrey; 
    @include base-shadow;
    main .locali i{
        font-size: 18px;
    }
}
