@import "./sass/base";
@import "./sass/layout";
@import "./sass/locali";
@import "./sass/explorer";



main .fonctionnement{
    height: 440px;
    background-color: #be2525;
    padding: 48px;
}

main h2{
    font-size: 24px;
}