@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto";
  background-color: #F6F6F6;
  scroll-behavior: smooth;
}

.container {
  max-width: 1280px;
  margin: auto;
  position: relative;
}

.main-container {
  width: 100%;
  padding: 0px;
  margin: 0;
}

section {
  display: block;
  unicode-bidi: isolate;
}

div {
  display: block;
  unicode-bidi: isolate;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
}
header h1 {
  font-family: shrikhand;
  margin: 0;
}

main .locali {
  font-size: 12px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
  background-color: #EAEAEA;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}
main .locali main .locali i {
  font-size: 18px;
}

.explorer {
  padding: 1.5rem;
  text-align: center;
  background-color: #F6F6F6;
}
.explorerh1 {
  padding: 2rem 4rem 0rem 4rem;
  font-size: 26px;
}
.explorer p {
  font-size: 18px;
  padding: 0rem 2rem 0rem 2rem;
}
.explorer button {
  margin: 2rem;
  width: 218px;
  height: 50px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 25px;
  color: white;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  cursor: pointer;
  transition: all 200ms;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
}
.explorer button:hover {
  transform: scale(1.02);
  box-shadow: 0px 9px 10px 0px rgba(0, 0, 0, 0.2509803922);
  opacity: 0.9;
}

.loader {
  position: fixed;
  display: grid;
  place-items: center;
  inset: 0;
  background-color: #ffffff;
  height: 100vh;
  z-index: 1;
  opacity: 0.9;
  animation: disapear 200ms;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  color: #9356DC;
}
.loader .big-spin {
  position: absolute;
  width: 16rem;
  height: 16rem;
  border-radius: 50%;
  border: 1rem solid rgba(160, 160, 160, 0);
  border-top: 1rem solid #9356dc;
  border-left: 1rem solid #9356dc;
  border-bottom: 1rem solid #9356dc;
  transform: rotate(45deg);
  animation: spin 1s infinite;
}
.loader .moyen-spin {
  position: absolute;
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  border: 1rem solid rgba(160, 160, 160, 0);
  border-top: 1rem solid #9356dc;
  border-left: 1rem solid #9356dc;
  border-bottom: 1rem solid #9356dc;
  transform: rotate(45deg);
  animation: nspin 1s infinite;
}

.function {
  background-color: hsl(0, 0%, 100%);
  padding: 2rem 1rem;
  counter-reset: num-menu;
}
.function ol {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
}
@media (min-width: 1024px) {
  .function ol {
    flex-direction: row;
  }
}
.function ol li {
  width: 100%;
  padding: 1rem 1rem;
  background-color: #F6F6F6;
  font-size: 16px;
  font-weight: 500;
  border-radius: 1rem;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  list-style: none;
  position: relative;
  padding: 1.5rem;
  animation-duration: 0ms;
}
.function ol li:hover {
  transform: scale(1.02);
}
.function ol li i {
  margin-right: 1rem;
  color: #7e7e7e;
}
.function ol li::before {
  content: counter(num-menu);
  counter-increment: num-menu;
  color: white;
  background-color: #9356DC;
  width: 1.5rem;
  height: 1.5rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
  position: absolute;
  left: -1rem;
}

.menus {
  width: 100%;
  background-color: #f6f6f6;
  padding: 1rem 1rem;
  margin-bottom: 2.5rem;
}
.menus .menu_card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0rem;
}
@media (min-width: 1024px) {
  .menus .menu_card {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 17rem 17rem;
    column-gap: 4rem;
    row-gap: 4rem;
    padding: 1rem 4rem;
  }
}
.menus .menu_card .card {
  background-color: #fff;
  border-radius: 1rem;
  text-decoration: none;
  color: inherit;
  position: relative;
  box-sizing: border-box;
}
.menus .menu_card .card .card_image {
  height: 12rem;
  width: 100%;
  border-radius: 1rem 1rem 0 0;
  box-shadow: none;
  object-fit: cover;
}
.menus .menu_card .card span {
  background-color: #99e2d0;
  color: #1b6150;
  padding: 0.5rem;
  border-radius: 2px;
  position: absolute;
  top: 1rem;
  right: 0.75rem;
}
.menus .menu_card .card .card_footer .card_description {
  position: relative;
  padding-left: 1rem;
}
.menus .menu_card .card .card_footer .card_description h3 {
  height: 10px;
}
.menus .menu_card .card .card_footer .card_btn i {
  font-size: 35px;
  position: absolute;
  right: 2rem;
  bottom: 1.5rem;
}
.menus .menu_card .card .card_footer .card_btn .fa-solid {
  color: transparent;
  background-image: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 300ms;
}
.menus .menu_card .card .card_footer .card_btn .fa-solid:hover {
  opacity: 1;
}

footer {
  padding: 0.5rem 2rem;
  background: #353535;
  color: #FFFFFF;
  font-size: 18px;
}
@media (min-width: 1024px) {
  footer {
    display: flex;
    align-items: end;
    flex-direction: row-reverse;
    padding: 2rem 6rem 1rem 0rem;
  }
}
footer h2 {
  font-family: shrikhand;
}
footer ul {
  padding: 0;
}
@media (min-width: 1024px) {
  footer ul {
    display: flex;
    align-items: end;
    padding: 2rem 6rem 0rem 0rem;
  }
}
footer li {
  padding: 0.5rem 0rem;
  margin: 0;
  list-style: none;
}
@media (min-width: 1024px) {
  footer li {
    padding: 10px;
  }
}
footer a {
  color: inherit;
  text-decoration: inherit;
  margin-right: 10px;
}
footer a i {
  margin-right: 10px; /* Ajoute de l'espace à droite de l'icône */
  color: inherit;
  text-decoration: inherit;
  margin-right: 10px;
}

@keyframes appear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes disapear {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
@keyframes nspin {
  to {
    transform: rotate(-360deg);
  }
}
header {
  position: relative;
}
header .button_return {
  display: flex;
  justify-content: flex-start;
  color: black;
  font-size: 20px;
  text-decoration: inherit;
  position: absolute;
  left: 2rem;
}

main {
  background-color: #FFFFFF;
}
main img {
  max-width: 100%;
  max-height: 30rem;
  width: 100%;
  object-fit: cover;
}
main .menu-page {
  animation: appear 1s;
  width: 100%;
  border-radius: 2rem 2rem 0 0;
  background-color: #f6f6f6;
  padding: 1rem 0.5rem;
  margin-top: -4rem;
  z-index: 1;
}
main .menu-page .menu-head {
  animation: appear 1.5s;
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
main .menu-page .menu-head h2 {
  font-family: shrikhand;
}
main .menu-page .menu-head .card_btn {
  display: flex;
  align-items: center;
}
main .menu-page .menu-head .card_btn i {
  font-size: 35px;
  position: absolute;
}
main .menu-page .menu-head .card_btn .fa-solid {
  color: transparent;
  background-image: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 300ms;
}
main .menu-page .menu-head .card_btn .fa-solid:hover {
  opacity: 1;
}
main .menu-page .liste-menu {
  animation: appear 2s;
  width: 100%;
  margin: auto;
}
@media (min-width: 1024px) {
  main .menu-page .liste-menu {
    width: 80%;
  }
}
main .menu-page .liste-menu .submenu {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main .menu-page .liste-menu .submenu .submenu__title {
  font-family: roboto;
  padding-bottom: 0.5rem;
  font-weight: 300;
  font-size: 16px;
  text-transform: uppercase;
  position: relative;
  display: block;
}
main .menu-page .liste-menu .submenu .submenu__title::after {
  content: "";
  width: 3rem;
  height: 0.25rem;
  background-color: #99e2d0;
  position: absolute;
  left: 0;
  bottom: 0;
}
main .menu-page .liste-menu .submenu .plats {
  max-height: 5rem;
  overflow: hidden;
  max-width: 100%;
  background-color: #FFFFFF;
  padding-left: 1rem;
  display: flex;
  cursor: pointer;
  border-radius: 0.75rem;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
}
main .menu-page .liste-menu .submenu .plats .plat-head {
  width: 100%;
  padding: 1rem 0 1rem 0.25rem;
}
main .menu-page .liste-menu .submenu .plats .plat-head h4 {
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
  margin: 0;
}
main .menu-page .liste-menu .submenu .plats .plat-head p {
  font-size: 15.04px;
  font-weight: 300;
  margin: 0;
}
main .menu-page .liste-menu .submenu .plats .prix {
  font-weight: 700;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: -2rem;
  padding: 0 1rem 1rem 0;
}
main .menu-page .liste-menu .submenu .plats .confirmation-logo {
  background-color: #99E2D0;
  border-radius: 0 0.75rem 0.75rem 0;
  margin-right: -5.75rem;
  width: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 1s;
}
main .menu-page .liste-menu .submenu .plats .confirmation-logo .confirmation--logo {
  color: #99E2D0;
  background-color: #FFFFFF;
  border-radius: 1rem;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(180deg);
  transition-duration: 1s;
}
main .menu-page .liste-menu .submenu .plats:hover .confirmation-logo {
  margin-right: 0rem;
}
main .menu-page .liste-menu .submenu .plats:hover .confirmation--logo {
  transform: rotate(0deg);
}
main .button_commander {
  display: flex;
  justify-content: center;
  padding: 2rem;
  margin: auto;
}
main .button_commander button {
  width: 218px;
  height: 50px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 25px;
  color: white;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  cursor: pointer;
  transition: all 200ms;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
}
main .button_commander button:hover {
  transform: scale(1.02);
  box-shadow: 0px 9px 10px 0px rgba(0, 0, 0, 0.2509803922);
  opacity: 0.9;
}

/*# sourceMappingURL=style.css.map */
